

body {
    padding-top: 50px;
}

.btn-download {
    width: 100%;
    margin-bottom: 5px;
}

.banner {
    /*width: 500px;*/
    /*height: 465px;*/
    min-width: 300px;
    min-height: 300px;
}

.download-background-img {
    background: transparent url(/img/banner-ios.png) no-repeat;
    background-size: contain;
}

#download-app {
    margin-top: 10%;
}