

body {
    padding-top: 50px;
}

.btn-download {
    width: 100%;
    margin-bottom: 5px;
}

.banner {
    /*width: 500px;*/
    height: 465px;
    min-width: 545px;
    min-height: 465px;
}

.download-background-img {
    background: transparent url(/img/banner-ios.png) no-repeat;
    background-size: auto auto;
}

.download-content {
    padding-top: 125px;
}